/* FONT FACE  */
@font-face {
     font-family: "Inter";
     src: url("../fonts/Inter-Medium.woff2") format("woff2"),
     url("../fonts/Inter-Medium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Inter";
     src: url("../fonts/Inter-Bold.woff2") format("woff2"),
     url("..fonts/Inter-Bold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Inter";
     src: url("../fonts/Inter-Regular.woff2") format("woff2"),
     url("../fonts/Inter-Regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Inter";
     src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
     url("../fonts/Inter-SemiBold.woff") format("woff");
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}


/* Global  */

:root{
     --main-font: "Inter","Arial", sans-serif;
     --body-color: #E7E7E7;
     --register-card-color: #fff;
     --input-color: #555555;
}

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;


}

*,
*::after,
*::before{
     box-sizing: inherit;
     padding: 0;
     margin: 0;
}

body{
     display: flex;
     flex-direction: column;
     background-color: var(--body-color);
     height: 100%;
     padding: 0;
     margin: 0;
     padding: 0;
     margin: 0;
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1400px;
     padding-left: 144px;
     padding-right: 144px;
     margin-left: auto;
     margin-right: auto;
}

/* Main content  */
.main-content{
     flex-grow: 1;
}

.content-wrapper{
     display: flex;
     margin-top: 80px;

}
.hero {
     width: 570px;
     height: 560px;
     background-image: url(/img/image.jpg);
     object-fit: contain;
     background-repeat: no-repeat;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     background-size: cover;
     background-position: left center;
     padding-left: 60px;
     padding-top: 55px;
     color: #fff;
}
.hero-link {
     color: #fff;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     text-decoration: none;
     border-radius: 41px;
     border: 1px solid #FFFFFF;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
     padding-right: 15px;
     opacity: 0.8;
     font-family: var(--main-font);
}

.hero-link:hover{
     opacity: 0.7;
}
.hero-link:active{
     opacity: 0.6;
}
.hero-content {
     display: flex;
     flex-direction: column;
     margin-top: 60px;

}
.hero-heading {
     font-family: var(--main-font);
     width: 330px;
     font-style: normal;
     font-weight: bold;
     font-size: 36px;
     line-height: 46px;

}
.hero-text {
     font-family: var(--main-font);
     margin-top: 25px;
     width: 340px;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 26px;
}
.hero-btn{
     display: inline-block;
     width: 570px;
     background-color: #4DC490;
     height: 80px;
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;

}
.hero-free-trial {
     font-family: var(--main-font);
     width: 570px;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     font-style: normal;
     font-weight: normal;
     font-size: 19px;
     line-height: 23px;
     text-decoration: none;
     color: #fff;
     height: 100%;
     text-align: center;
}

.hero-free-trial:hover{
     opacity: 0.8;
}

.hero-free-trial:active{
     opacity: 0.6;
}

.register {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-left: 12px;
     width: 570px;
     height: 640px;
     background-color:var(--register-card-color);
}
.label-input{
     display: flex;
     flex-direction: column;
}
.register-heading {
     font-family: var(--main-font);
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     line-height: 42px;
     width: 430px;
     margin-top: 55px;
     /* margin-left: 60px; */
}
.input-data{
     font-family: var(--main-font);
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     width: 450px;
     border:none;
     border-bottom: 1px solid #000000;
     padding-bottom: 14px;
     margin-bottom: 35px;
     color: var(--input-color);
}
.register-name {
     margin-top: 79px;
}
.register-lastname {

}
.register-email {

}
.register-password {

}
.register-free-trial {
     font-family: var(--main-font);
     text-align: center;
     color: var(--body-color);
     width: 450px;
     margin-top: 27px;
     text-decoration: none;
     background-color: #655AF2;
     padding-top: 20px;
     padding-bottom: 20px;
     border-radius: 10px;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 19px;

}
.register-free-trial:hover{
     opacity: 0.8;
}
.register-free-trial:active{
     opacity: 0.6;
}
.terms-and-conditions {
     color: var(--input-color);
     font-family: var(--main-font);
     font-style: normal;
     font-weight: normal;
     font-size: 11px;
     line-height: 15px;
     margin-top: 8px;

}
.terms-and-conditions-link {
     color: red;


}